<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/context
    					http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.hehaoyisheng.bcgame.dao"/>
    <context:component-scan base-package="com.hehaoyisheng.bcgame.manager"/>
    <context:component-scan base-package="com.hehaoyisheng.bcgame.common"/>
    <context:annotation-config />

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:database.properties" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${initialSize}" />
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${maxIdle}" />
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${minIdle}" />
        <!-- 获取连接最大等待时间 -->
        <property name="maxWaitMillis" value="${maxWait}" />
    </bean>

    <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis.xml"></property>
    </bean>

    <!-- DAO -->
    <bean id="userDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.UserDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="signDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.SignDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="moneyHistoryDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.MoneyHistoryDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="settingsDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.SettingsDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="proxyDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.ProxyDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="bcLotteryOrderDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.BcLotteryOrderDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="raceDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.TraceDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="registURLDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.RegistURLDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="rechargeDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.RechargeDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="drawHistoryDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.DrawHistoryDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="bcLotteryHistoryDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.BcLotteryHistoryDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="messageDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.MessageDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="noticeDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.NoticeDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="helpDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.HelpDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="bcLotteryOddsDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.BcLotteryOddsDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="bookCardDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.BookCardDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="yiLouDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.YiLouDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <!-- 调度 -->
    <bean id="sscJob" class="com.hehaoyisheng.bcgame.job.SSCJob">
        <property name="type" value="cqssc" />
    </bean>

    <bean id="xjsscJob" class="com.hehaoyisheng.bcgame.job.SSCJob">
        <property name="type" value="xjssc" />
    </bean>

    <bean id="tjsscJob" class="com.hehaoyisheng.bcgame.job.SSCJob">
        <property name="type" value="tjssc" />
    </bean>

    <bean id="pk10" class="com.hehaoyisheng.bcgame.job.SSCJob">
        <property name="type" value="pk10" />
    </bean>

    <bean id="gd11x5Job" class="com.hehaoyisheng.bcgame.job.SSCJob">
        <property name="type" value="gd11x5" />
    </bean>

    <bean id="jsk3Job" class="com.hehaoyisheng.bcgame.job.K3Job">
        <property name="type" value="jsk3" />
    </bean>

    <bean id="shk3Job" class="com.hehaoyisheng.bcgame.job.K3Job">
        <property name="type" value="shk3" />
    </bean>

    <bean id="txsscJob" class="com.hehaoyisheng.bcgame.job.TxSSCJob">
        <property name="type" value="txssc" />
    </bean>
    <bean id="onlineJob" class="com.hehaoyisheng.bcgame.job.OnLineJob" />
    <bean id="contractJob" class="com.hehaoyisheng.bcgame.job.ContractJob" />

    <bean id="contractDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="contractJob" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="contractJob" />
        <property name="group" value="contractJob" />
    </bean>

    <bean id="cqsscDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="sscJob" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="cqsscJob" />
        <property name="group" value="sscJob" />
    </bean>

    <bean id="xjsscDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="xjsscJob" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="xjsscJob" />
        <property name="group" value="sscJob" />
    </bean>

    <bean id="tjsscDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="tjsscJob" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="tjsscJob" />
        <property name="group" value="sscJob" />
    </bean>

    <bean id="pk10Detail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="pk10" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="pk10Job" />
        <property name="group" value="pk10Job" />
    </bean>

    <bean id="gd11x5Detail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="gd11x5Job" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="gd11x5Job" />
        <property name="group" value="11x5Job" />
    </bean>

    <bean id="jsk3Detail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="jsk3Job" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="jsk3Job" />
        <property name="group" value="k3Job" />
    </bean>

    <bean id="shk3Detail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="shk3Job" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="shk3Job" />
        <property name="group" value="k3Job" />
    </bean>

    <bean id="txsscDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="txsscJob" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="txsscJob" />
        <property name="group" value="sscJob" />
    </bean>

    <bean id="onlineDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="onlineJob" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="onlineJob" />
        <property name="group" value="online" />
    </bean>

    <bean id="contractTigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="contractDetail" />
        <property name="cronExpression" value="0 0 4 * * ?" />
        <property name="name" value="contract" />
        <property name="group" value="contract" />
    </bean>

    <bean id="tjsscTigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="tjsscDetail" />
        <property name="cronExpression" value="0 8/10 10-22 * * ?" />
        <property name="name" value="tjssc1" />
        <property name="group" value="ssc" />
    </bean>

    <bean id="xjsscTigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="xjsscDetail" />
        <property name="cronExpression" value="0 8/10 10-23 * * ?" />
        <property name="name" value="xjssc1" />
        <property name="group" value="ssc" />
    </bean>

    <bean id="xjsscTigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="xjsscDetail" />
        <property name="cronExpression" value="0 8/10 0-2 * * ?" />
        <property name="name" value="xjssc2" />
        <property name="group" value="ssc" />
    </bean>

    <bean id="sscTigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cqsscDetail" />
        <property name="cronExpression" value="0 4/5 0-2 * * ?" />
        <property name="name" value="cqssc1" />
        <property name="group" value="ssc" />
    </bean>

    <bean id="sscTigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cqsscDetail" />
        <property name="cronExpression" value="0 9/10 10-21 * * ?" />
        <property name="name" value="cqssc2" />
        <property name="group" value="ssc" />
    </bean>

    <bean id="sscTigger3" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cqsscDetail" />
        <property name="cronExpression" value="0 4/5 22-23 * * ?" />
        <property name="name" value="cqssc3" />
        <property name="group" value="ssc" />
    </bean>

    <bean id="pk10Tigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="pk10Detail" />
        <property name="cronExpression" value="0 4/5 9-23 * * ?" />
        <property name="name" value="pk10" />
        <property name="group" value="pk10" />
    </bean>

    <bean id="gd11x5Tigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="gd11x5Detail" />
        <property name="cronExpression" value="0 3/10 9-22 * * ?" />
        <property name="name" value="gd11x5" />
        <property name="group" value="11x5" />
    </bean>

    <bean id="jsk3Tigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jsk3Detail" />
        <property name="cronExpression" value="0 3/10 9-22 * * ?" />
        <property name="name" value="jsk3" />
        <property name="group" value="k3" />
    </bean>

    <bean id="shk3Tigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="shk3Detail" />
        <property name="cronExpression" value="0 3/10 9-22 * * ?" />
        <property name="name" value="shk3" />
        <property name="group" value="k3" />
    </bean>

    <bean id="txsscTigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="txsscDetail" />
        <property name="cronExpression" value="0 * * * * ?" />
        <property name="name" value="txssc" />
        <property name="group" value="ssc" />
    </bean>

    <bean id="onlineTigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="onlineDetail" />
        <property name="cronExpression" value="0 * * * * ?" />
        <property name="name" value="onlineJob" />
        <property name="group" value="online" />
    </bean>

    <bean id="schedulerfactory" name="schedulerfactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
        <property name="triggers">
            <list>
                <ref bean="sscTigger1"/>
                <ref bean="sscTigger2"/>
                <ref bean="sscTigger3"/>
                <ref bean="xjsscTigger1"/>
                <ref bean="xjsscTigger2"/>
                <ref bean="tjsscTigger1"/>
                <ref bean="pk10Tigger"/>
                <ref bean="gd11x5Tigger"/>
                <!--
                <ref bean="jsk3Tigger"/>
                <ref bean="shk3Tigger"/>
                -->
                <ref bean="txsscTigger"/>
                <ref bean="onlineTigger"/>
                <ref bean="contractTigger"/>
            </list>
        </property>
        <property name="autoStartup" value="true" />
    </bean>
</beans>